<form action="#" th:action="@{/modals/transfer-money-to-user-iban}" th:object="${transferMoneyRequest}" method="post">

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="fromAccount">From: </label>
        <div class="dropdown col-sm-8" id="fromAccount">
            <select class="btn light dropdown-toggle text-center" th:field="*{fromIban}">
                <option class="dropdown-item text-center" th:each="account : ${accounts}"
                        th:value="${account}" th:text="${account.iban} + '-' +${account.currency}">
                </option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="amount" class="col-sm-4 col-form-label">Amount: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="amount" th:field="*{amount}">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="toIban">To: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="toIban" aria-describedby="ibanHelp"
                   placeholder="IBAN"
                   th:field="*{toIban}">
        </div>
        <div style="height:5px;"></div>
    </div>

    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
